<section class="signup">
  <form fxLayout="column">
    <mat-form-field>
      <input matInput type="text" placeholder="Enter your name">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="email" placeholder="Enter your email">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Enter your password">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirm your password">
    </mat-form-field>
  </form>
</section>
